<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/research/">Research</a></li>
                <li><a href="{{ site.baseurl }}/media/">Media</a></li>
                <li><a href="{{ site.baseurl }}/publications/">Publications</a></li>
                <li><a href="{{ site.baseurl }}/presskit/">Press Kit</a></li>
                <li><a href="{{ site.baseurl }}/impressum/">Impressum</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <div class="social-media">
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/"><i class="fab fa-github"></i></a>
        </div>
        <p>&copy; 2025 Lena Ulbricht</p>
    </footer>
</body>
</html>