---
layout: default
title: Project
---

<div class="project-detail">
    <h1>{{ page.title }}</h1>
  
    {% if page.image %}
      <img class="project-image" src="{{ page.image }}" alt="{{ page.title }}">
    {% endif %}
  
    {% if page.image_credit %}
      <div class="image-credit">
        {{ page.image_credit }}
      </div>
    {% endif %}
    
    <div class="project-meta">
      <h3>Project:</h3>
        <div class="project-block">{{ page.project | markdownify }}</div>

      <h3>Approach:</h3>
        <div class="project-block">{{ page.approach | markdownify }}</div>
        {% if page.members %}
          <p><strong>Members:</strong> {{ page.members }}</p>
        {% endif %}

        {% if page.duration %}
          <p><strong>Duration:</strong> {{ page.duration }}</p>
        {% endif %}
      
        {% if page.outputs %}
        <p><strong>Outputs:</strong> {{ page.outputs | markdownify }}</p>
        {% endif %}
        </div>
</div>